<div class="row">
  <section class="main col-md-9">
    <article>
      <h2><b>About Me</b></h2>
      <span style="font-size: large; ">
      <p>- I am an international student currently studying <b>Computer Programming and Analysis</b> in <b> Seneca
                College</b>, Toronto (Canada).</p>
        <p>- I love playing chess and coding. I also love to develope websites on my free time.</p>
        <p>- I am a <b>professional chess player!</b> Some of my achievements:
        <ul>
            <li><b>Participated in chess during HBK sports league 2017</b></li>
            January, 2017</br>&nbsp;</br>
            <li><b>2<sup>nd</sup> Position in Inter-School Chess Tournament organized by Abhinam Chess Academy in
                    association with The Open Page</b></li>
            November, 2017</br>&nbsp;</br>
            <li><b>7<sup>th</sup> Position in Ahmedabad District Under 17-OPEN Chess Tournament by GSCA</b></li>
            December, 2017</br>&nbsp;</br>
            <li><b>5<sup>th</sup> Position in Ahmedabad District Under 15-OPEN Chess Tournament by GSCA</b></li>
            March, 2018</br>&nbsp;</br>
        </ul>
        </span>
    </article>
  </section>
  <aside class="col-md-3">
    <h2><b>Coming Soon</b></h2>
    <p style="font-size: large; ">Stay tuned for future updates.</p>
  </aside>
</div>