@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap');

body {
  font-family: Comic Sans MS;
  background-color: gray;
  color: black;
}

a {
  color: rgb(37, 44, 48);
  font-size: medium;
}

a:hover {
  color: rgb(0, 0, 0);
}

.btn {
  background-color: rgb(202, 202, 202);
}